name: Test

on: [push, pull_request]

jobs:
  test:

    runs-on: ubuntu-latest

    strategy:
      fail-fast: true
      matrix:
        node: [10.x, 12.x, 14.x]

    name: Node v${{ matrix.node }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v1
        with:
            node-version: ${{ matrix.node }}

      - name: Install dependencies
        run: yarn install

      - name: Run tests
        run: yarn test
